<div class='col-md-12'>
  <h2><%= @group.title%></h2>
  <p><%= @group.description%></p>
    <div class='group'>
      <%= link_to "Edit", edit_group_path(@group),class: 'btn btn-primary' %>
      <%= link_to '回到首頁', groups_path, class: 'btn btn-default' %>
    </div>
  </div>
